@import 'colors.scss';

/* Fonts */
$f-sans-serif: 'Roboto', Arial, sans-serif;

/* Base variables */
$main-font: $f-sans-serif;
$main-font-size: 14px;
$main-text-color: $color--dark-indigo;
// $link-color: $color--light-royal-blue;